.title {
    text-align: center;
    background-color: #F0FFFF;
}

body {
    max-width: 90%;
    margin: auto;
    font-family: sans-serif; "open sans";
    color: darkolivegreen;
    background: linear-gradient(25deg, rgb(187, 195, 187), rgb(152, 232, 175));
    /*background-image: url("asianfarm.jpeg");*/
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    letter-spacing: 2px;
}

img {
    width: 40%;
    height: 40%;
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

a {
    color: darkblue;
}

.good {
    text-transform: capitalize;
    color: green;
}

.bad {
    text-transform: capitalize;
    color: red;
}

a:hover {
    color: sienna;
}

a:visited {
    color: yellow;
}

blockquote {
    text-align: center;
    margin: auto;
}

q{
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: lightgrey;
    border-left: 3px;
    padding-left: 30px;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 80px;
}

.villagers {
    border-left: 2px solid sandybrown;
}

.farmer {
    border-left: 2px solid lavenderblush;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: white;
}

p:first-of-type {
    font-weight: bold;
}

.notification {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
}








